<%- include("partials/header"); -%>
<h1>Update Blog</h1>
<form class="col" action="/posts/update/log" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="postTitle" value="<%=title%>">
  </div>

  <div class="form-group">
    <label>Post</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30"><%=content%></textarea>
</div>

<input type="hidden"  name="postId" value="<%=id%>">

  <button class="btn btn-primary" type="submit" name="button" >Update</button>
</form>

<%- include("partials/footer"); -%>

